name: Nim CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: 'stable'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install Emscripten
      run: sudo apt-get install -y emscripten
    - name: Set up Emscripten environment
      run: source /etc/emscripten.sh
    - name: Run tests
      run: nimble test -Y
