name: Nim CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: jiro4989/setup-nim-action@v1
    - name: Build
      run: nimble build -y
    - name: Run tests
      run: nimble test -y
